<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           https://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="application.properties"/>

    <bean name="RDR2ScreensConverterRunner" class="com.romanko.rdr2.screens.converter.app.runner.RDR2ScreensConverterRunner">
        <constructor-arg ref="inputParamsExtractor"/>
        <constructor-arg ref="PRDRDScreenshotsConverter"/>
        <constructor-arg ref="convertedBytesScreenshotsFileWriter"/>
    </bean>

    <bean name="inputParamsExtractor" class="com.romanko.rdr2.screens.converter.app.component.input.params.InputParamsExtractor"/>

    <bean name="PRDRScreenshotConverter" class="com.romanko.rdr2.screens.converter.app.service.PRDRScreenshotBytesConverter"/>

    <bean name="PRDRDScreenshotsConverter" class="com.romanko.rdr2.screens.converter.app.service.PRDRScreenshotsBytesConverter">
        <constructor-arg ref="PRDRScreenshotConverter"/>
    </bean>

    <bean name="convertedBytesScreenshotsFileWriter" class="com.romanko.rdr2.screens.converter.app.service.JpgConvertedBytesScreenshotsFileWriter"/>

</beans>